.login-form{
    position: relative;
    top: 30%;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
}
button{
    background-color: black;
    width: 100%;
    padding: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}
span{
    color: white;
}