
<div class="products">

    <!-- CATEGORY DROPDOWN -->

    <div class="category-dropdown">
        <form [formGroup]="categoryForm" (submit)="onSubmit()">
            <mat-form-field>
                <select matNativeControl (change)="changeCategory($event)" formControlName="category">
                    <option value="">Choose Category</option>
                    <option *ngFor="let category of allCategories; index as i" [ngValue]="category">
                        {{category}}
                    </option>
                </select>
            </mat-form-field>
        </form>
    </div>

    <!-- CATEGORY-WISE-DISPLAY PRODUCTS -->
    <div class="product-list" *ngIf="currentCategory ==''">
            <mat-card *ngFor="let product of productsArray; index as i">
            <mat-card-content>
                <div class="product-details">
                    <div class="image"><img [src]="product?.image" alt=""></div>
                    <div class="title" [routerLink]="['/product-details', product.id]">
                        <a>
                            {{product?.title}}
                        </a>
                    </div>
                    <div class="bottom-container">
                        <div class="price">{{product?.price | currency}}</div>
                        <div class="add-to-cart" (click)="addToCart(product)">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </div>
                    </div>
                </div>
                
            </mat-card-content>
        </mat-card>
    </div> 
    <div class="product-list" *ngIf="currentCategory !== ''">
        <mat-card *ngFor="let product of selectedProducts; index as i">
                <mat-card-content>
                    <div class="product-details">
                        <div class="image"><img [src]="product?.image" alt=""></div>
                        <div class="title" [routerLink]="['/product-details', product.id]">
                            <a>
                                {{product?.title}}
                            </a>
                        </div>
                        <div class="bottom-container">
                            <div class="price">{{product?.price | currency}}</div>
                            <div class="add-to-cart" (click)="addToCart(product)">
                                <mat-icon>add_shopping_cart</mat-icon>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
    </div>   
</div>
