<app-main-header></app-main-header>
<mat-card class="main-container">
    <mat-card-content>
        <div class="orders-heading">
            Your Orders
        </div>
        <hr>
        <mat-card>
            <mat-card-content>
                <ng-template [ngIf]="totalItemsBuyArray.length > 0">
                    <div class="heading-container">
                        <div class="order-placed-date-container">
                            <div class="order-placed-date-heading">
                                ORDER PLACED
                            </div>
                            <div class="order-placed-date">
                                {{orderDataArray[0].date | date: 'dd/MM/yyyy'}}
                            </div>
                        </div>
                        <div class="order-placed-total-heading">
                            <div class="order-placed-total-heading">
                                TOTAL
                            </div>
                            <div class="order-placed-total">
                                {{orderTotal | currency}}
                            </div>
                        </div>
                        <div class="customer-container">
                            <div class="order-placed-shipto-heading">
                                SHIP TO
                            </div>
                            <div class="order-placed-shipto">
                                {{orderDataArray[0].buyerName}}
                            </div>
                        </div>
                        <div class="id-container">
                            <div class="order-placed-id-heading">
                                ORDER ID
                            </div>
                            <div class="order-placed-id">
                                #{{orderDataArray[0].id}}
                            </div>
                        </div>
                    </div>
                    <div class="orders-list" *ngFor="let order of totalItemsBuyArray; index as i">
                        
                        <br>
                        <div class="order-details-container">
                            <div class="delievery-by-heading">
                                Delievery by 30/08/2023
                            </div>
                            <div class="order-details">
                                <div class="order-image">
                                    <img [src]="order.image" alt="">
                                </div>
                                <div class="order-title">
                                    {{order.title}}
                                </div>
                                <div class="order-quantity">
                                    *{{order.quantity}}
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </ng-template>
                <ng-template [ngIf]="totalItemsBuyArray.length == 0">
                    <div class="no-item-container">
                        No Orders Placed
                    </div>
                </ng-template>
                
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>