<app-main-header></app-main-header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="product-details">
    <mat-card *ngIf="product">
        <mat-card-content>
            <div class="details-conatiner">
                <div class="image"><img [src]="product.image" alt=""></div>
                <div class="details">
                    <div class="title">{{ product.title }}</div>
                    <div class="rating">
                        <!-- <div class="rating-value">{{ product.rating.rate }}</div> -->
                        <div class="rating-star">
                            <!-- <igc-rating value="ratingVal" min="0" [max]="product.rating.rate" ></igc-rating> -->
                        </div>
                    </div>
                    <div class="price">Price: {{ product.price | currency }}</div>
                    <hr>
                    <div class="description">
                        <div class="about-title">About this item</div>
                        <div class="about">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-2">
                <div class="additional-images"></div>
                <div class="buy-options">
                    <div class="add-to-cart">
                        <button mat-button (click)="addToCart()">
                                Add To Cart
                                <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </div>
                    <div class="buy-now">
                        <button mat-button>
                            <a routerLink="/checkout">Buy Now</a>
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
