.header-container{
    margin-top: 1rem;
    width: 100%;
    height: 4.5rem;
    background-color: rgb(245, 243, 243);
    display: flex;
    justify-content: space-between;
}
.title{
    margin-top: 1.6rem;
    margin-left: 1rem;
}
span{
    font-size: 2rem;
    font-weight: bold;
}
button{
    background-color: rgb(180, 180, 243); 
    margin: 1rem;
    font-weight: bold;
}
.auth-btns{
    display: flex;
}
a{
    text-decoration: none;
}