<mat-card>
    <mat-card-content>
        <div class="payment-container">
            <mat-card>
                <mat-card-content>
                    <div class="payment-heading">
                        Payment Details
                    </div>
                    <hr>
                    <div class="payment-details-container">
                        <div class="left-pane">
                            <form [formGroup]="paymentForm">
                                <div class="form-group">
                                    <label>Card Number</label>
                                    <input type="text" formControlName="cardNumber" placeholder="Card Number" required>
                                    <div *ngIf="paymentForm.get('cardNumber')?.hasError('required') && paymentForm.get('cardNumber')?.touched" class="error-message">
                                        *Card Number is required
                                    </div>
                                    <div *ngIf="paymentForm.get('cardNumber')?.hasError('minlength') && paymentForm.get('cardNumber')?.touched" class="error-message">
                                        *Card Number must be at least 12 digits long
                                    </div>
                                </div>
                              
                                <div class="form-group">
                                  <label>Name on Card</label>
                                  <input type="text" formControlName="nameOnCard" placeholder="Name on Card" required>
                                  <div *ngIf="paymentForm.get('nameOnCard')?.hasError('required') && paymentForm.get('nameOnCard')?.touched" class="error-message">
                                    *Name is required
                                  </div>
                                </div>
                              
                                <div class="form-group">
                                  <label>Security Code (CVV)</label>
                                  <input type="text" formControlName="securityCode" placeholder="CVV" required>
                                  <div *ngIf="paymentForm.get('securityCode')?.hasError('required') && paymentForm.get('securityCode')?.touched" class="error-message">
                                    *CVV/CVC is required
                                  </div>
                                  <div *ngIf="paymentForm.get('cardNumber')?.hasError('minlength') && paymentForm.get('cardNumber')?.touched" class="error-message">
                                    *CVV/CVC Number must be of 3 digits
                                  </div>
                                  <div *ngIf="paymentForm.get('cardNumber')?.hasError('maxlength') && paymentForm.get('cardNumber')?.touched" class="error-message">
                                    *CVV/CVC Number must be of 3 digits
                                  </div>
                                </div>
                              
                                <div class="form-group">
                                  <label>Expiration Date</label>
                                  <select formControlName="expirationMonth" required>
                                    <option value="" disabled>Select Month</option>
                                    <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                                  </select>
                                  <div *ngIf="paymentForm.get('expirationMonth')?.hasError('required') && paymentForm.get('expirationMonth')?.touched" class="error-message">
                                    *Expiration Month is required
                                  </div>
                                </div>
                              
                                <div class="form-group">
                                  <select formControlName="expirationYear" required>
                                    <option value="" disabled>Select Year</option>
                                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                  </select>
                                  <div *ngIf="paymentForm.get('expirationYear')?.hasError('required') && paymentForm.get('expirationYear')?.touched" class="error-message">
                                    *Expiration Year is required
                                  </div>
                                </div>
                              
                                <button type="submit" routerLink="/order-summary" [disabled]="!paymentForm.valid"
                                [style.background-color]="paymentForm.valid ? 'plum' : 'grey'">Submit</button>

                                <button routerLink="/cart">Cancel</button>
                            </form>
                        </div>
                        <div class="vertical-line"></div>
                        <div class="right-pane">
                            <div class="right-pane-heading">
                                We accept all major credit and debit cards:
                            </div>
                            <div class="card-options">
                                <img src="assets/cards.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>      