<div class="products-container">
    <app-admin-header></app-admin-header>
    <div class="products-display-container">
        <mat-card>
            <mat-card-content>
                <h1>PRODUCTS</h1>
                <div class="add-container">
                    <button class="add-btn" (click)="openDialog()">
                        + Add Product
                    </button>
                    
                </div>
                <div class="product-list">
                    <form >
                        <table class="outer-table">
                            <tr class="outer-heading">
                                <th>ProductId</th>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Description</th>
                                <th>Categroy</th>
                                <th>Image</th>
                                <th>Rate</th>
                                <th>Count</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <tr *ngFor="let product of products; index as i">
                                <ng-container *ngIf="!isGettingEditted && editIndex !== i || !isGettingEditted && editIndex == i" >
                                    <td>{{product.id}}</td>
                                    <td>{{ product.title }}</td>
                                    <td>{{product.price | currency}}</td>
                                    <td>{{product.description}}</td>
                                    <td>{{product.category}}</td>
                                    <td><img [src]="product.image" alt="product.category"></td>
                                    <td>{{product.rating.rate}}</td>
                                    <td>{{product.rating.count}}</td>
                                    <td>
                                        <mat-icon (click)="onEdit(i)" class="operation">edit</mat-icon>
                                    </td>
                                    <td>
                                        <mat-icon (click)="onDelete(i)" class="operation">delete</mat-icon>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="isGettingEditted && editIndex == i">
                                    <td>{{product.id}}</td>
                                    <td>
                                        <input type="text" [value]="product.title" >
                                    </td>
                                    <td>
                                        <input type="number" [value]="product.price">
                                    </td>
                                    <td>
                                        <textarea [value]="product.description"></textarea>
                                    </td>
                                    <td>
                                        <input type="text" [value]="product.category">
                                    </td>
                                    <td>
                                        <input type="file" [value]="product.image">
                                    </td>
                                    <td>
                                        <input type="number" [value]="product.rating.rate">
                                    </td>
                                    <td>
                                        <input type="number" [value]="product.rating.count">
                                    </td>
                                    <td>
                                        <mat-icon (click)="onEdit(i)" class="operation">save</mat-icon>
                                    </td>
                                    <td>
                                        <mat-icon (click)="onDelete(i)" class="operation">delete</mat-icon>
                                    </td>
                                </ng-container>
                            </tr>
                            
                        </table>
                    </form>
                    
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

  