<app-main-header></app-main-header>
<div class="main-container">
    <mat-card class="main">
        <mat-card-content class="heading-card">
            <div class="checkout-container">
                <div class="heading">
                    Checkout (<span class="total-items">{{totalItemsInCart}} items</span>)
                </div>
            </div>
            <hr>
        </mat-card-content>
        
        <mat-card-content class="shipping-info">
            <div class="checkout-details-container">
    
                <app-shipping-info></app-shipping-info>
    
            </div>
        </mat-card-content>
    </mat-card>
    
</div>

