/* .summary{
    align-items: center;
} */
.inner-card{
    /* align-items: center; */
    width: 50%;
    border: 1px solid rgb(167, 166, 166);
}
.summary-heading, .total-heading{
    font-size: 1rem;
    font-weight: 600;
    color: brown;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.summary-heading{
    background-color: rgb(237, 235, 235);
    padding: 1rem;
}
.items, .shipping, .tax, .calculation-line, .total{
    display: flex;
    justify-content: space-between;
}
.line{
    width: 60px;
}
.items-content, .shipping-content, .temp, .tax-content, .total-heading{
    margin-right: 10rem;
}