
<mat-card class="outer-card">
    <mat-card-content>
        <div class="summary-heading">
            Order Summary
        </div>
        <hr>
        <div class="summary">
            <mat-card class="inner-card">
                <mat-card-content>
                    <div class="items">
                        <div class="items-content">
                            items ({{totalItemsToBuy.length}}):
                        </div>
                        <div class="items-amount">
                            {{cartTotal | currency:'INR'}}
                        </div>
                    </div>
                    <div class="shipping">
                        <div class="shipping-content">
                            Shipping & handling: 
                        </div>
                        <div class="shipping-amt">
                            --
                        </div>
                    </div>
                    <div class="calculation-line">
                        <div class="temp">
                        </div>
                        <div class="line">
                            <hr>
                        </div>
                    </div>
                    <div class="tax">
                        <div class="tax-content">
                            Total before tax: 
                        </div>
                        <div class="tax-amt">
                            --
                        </div>
                    </div>
                    <div class="tax">
                        <div class="tax-content">
                            Estimated tax to be collected:
                        </div>
                        <div class="tax-amt">
                            --
                        </div>
                    </div>
                    <hr>
                    <div class="total">
                        <div class="total-heading">
                            Order total
                        </div>
                        <div class="total-amount">
                            {{cartTotal | currency:'INR'}}
                        </div>
                    </div>

                    <div class="pay">
                        <button mat-raised-button (click)="openDialog('300ms', '150ms')" class="pay-btn" routerLink="/orders">Pay</button>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>