<app-header></app-header>

<div class="login-form">
    <form [formGroup]="signinForm" (submit)="onSubmit()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput placeholder="Username">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput placeholder="Password">
          <mat-icon matSuffix>https</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input formControlName="confirmPassword" matInput placeholder="Confirm Password">
          <mat-icon matSuffix>https</mat-icon>
        </mat-form-field>
      </p>
      <div class="signin-btn">
        <button type="submit" mat-button>SignIn</button>
      </div>
  </form>
</div>