<div class="main-header-nav">
    <div class="title" routerLink="/">
            <mat-toolbar>
              <span>Shopzana</span>
            </mat-toolbar>
    </div>
    <div class="signin-nav">
            <div class="user" *ngIf="username && username!==''">
                Hello, {{username}}
            </div>
            <div class="your-orders" *ngIf="isLoggedIn">
                <a (click)="goOrders()">Your Orders</a>
            </div>
            <div class="cart" *ngIf="isLoggedIn">
                <a routerLink="/cart" class="cart-icon">
                    <mat-icon [matBadge]="this.cartService.totalElementsInCart" matBadgeColor="warn">shopping_cart</mat-icon>
                </a>
            </div>
            
          <ng-container class="logout" *ngIf="isLoggedIn">
                <a (click)="onLogout()">Logout</a>
          </ng-container>
    
          <ng-container class="login" *ngIf="!isLoggedIn">
                <a routerLink="/auth/login">Login</a>
          </ng-container>

    </div>
</div>
